@import "~vuetify/src/styles/settings/colors";
@import "~vuetify/src/styles/settings/variables";
@import "~vuetify/src/styles/generic/colors";

.v-toolbar__title {
  a {
    text-decoration: none;
  }
}

.ty-hover-box {
  text-decoration: none;
}

@import "components/Test";